<html>
<head>
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>
  <div class = "jumbotron">
  <h3>  Thanks for helping us by willing to take this survey. You just need to label some images for us by selecting the most appropriate label for each image.</h3>
<form method='post' action='{% url 'Survey:start' %}'>
  {% csrf_token %}
  <br><br>
    Username : <input type="text" name='name' required class="form-control"><br>
    Valid Email-ID : <input type="email" name='e_mail' required class="form-control"><br>


  <input type ='submit' class='btn btn-primary'>
</div>
</body>
<html>
