{% load  static %}

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
<body>
<center>

<h3>  Image : {{num}}<h3>
  <a href='{% url 'Survey:que' mid=mid num=num%}'><img src='{% static "" %}{{img_url}}'></a><br>
  <br><h3>What do you see here ?</h3><br>
<form action='{% url 'Survey:nextque' mid=mid num=num %}' method='post' >
  {% csrf_token %}
<div class="form-group">
<h4>
  <input type="radio" name="ans" value="fore" required> {{fore}}</input><br>
  <input type="radio" name="ans" value="back"> {{back}}</input><br>
  <input type="radio" name="ans" value="w1"> {{w1}}</input><br>
  <input type="radio" name="ans" value="w2"> {{w2}}</input><br>
  <input type="radio" name="ans" value="w3"> {{w3}}</input><br><br>
  <input type="hidden" name="test" value={{test}}>
  <input type="submit" name="submit" class="btn btn-primary" > </input>

</div>
<form>


</form>
</center>
</body>
<html>
